:root {
  --color-theme: #001522;
  --header-color: #B2A092;
  --text-dark: #000000;
  --text-light: #ffffff;
  --pages-width: calc(90vh);
}

@font-face {
  font-family: Gotham;
  src: url(/public/fonts/Gotham/Gotham-Book.otf);
}

.full {
  min-height: 100vh;
  background: var(--color-theme);
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  font-family: Gotham;
  color: var(--text-light);
  max-width: 800px;
  width: 90%; /* Adjust as needed */
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%; /* Ensure the image scales with its container */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, .8));
}

h1 {
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, .8));
}

.landing {
  text-align: center;
  padding: 0 0 30px 0;
  filter: drop-shadow(0px 0px 140px rgba(170, 170, 170, .9)) drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.7));
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .body {
    max-width: 90%; /* Adjust as needed */
  }
}
